---
import Deck from '../components/Deck';
import Header from '../components/Header.astro';
import { DIVERTIDAS } from '../config/constant';
import Layout from '../layouts/Layout.astro';

const cards = DIVERTIDAS.map((question, index) => {
  return {
    question: question.question,
    category: 'Divertidas',
    color: 'cean',
  };
});
---


<Layout>
  <main>
    <Deck client:visible questions={cards} title='Divertidas' />
  </main>
</Layout>