---
import Deck from '../components/Deck';
import Header from '../components/Header.astro';
import { EN_PALABRAS } from '../config/constant';
import Layout from '../layouts/Layout.astro';

const cards = EN_PALABRAS.map((question, index) => {
  return {
    question: question.question,
    category: 'En palabras',
    color: 'pink',
  };
});
---


<Layout>
  <main>
    <Deck client:visible questions={cards} title='En palabras' />
  </main>
</Layout>
