---
import Deck from "../components/Deck";
import Header from "../components/Header.astro";
---

<!doctype html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Juego de Cartas</title>
    <link rel="stylesheet" href="/src/styles/global.css" />
  </head>
  <body class="bg-gray-100 min-h-screen">
    <Header />
    <main class="p-6 flex flex-col items-center gap-2">
      <a
        href="/en-palabras"
        class="bg-blue-500 text-white font-bold py-2 px-4 rounded-lg shadow-lg"
      >
        En Palabras
        </a>
        <a
          href="/desconectados"
          class="bg-lime-500 text-white font-bold py-2 px-4 rounded-lg shadow-lg"
          >Desconectados</a
        >
        <a
          href="/picantes"
          class="bg-red-500 text-white font-bold py-2 px-4 rounded-lg shadow-lg"
          >Picantes</a
        >
        <a
          href="/verdad-o-mentira"
          class="bg-red-500 text-white font-bold py-2 px-4 rounded-lg shadow-lg"
          >Verdad o Mentira</a
        >
        <a
          href="/divertidas"
          class="bg-red-500 text-white font-bold py-2 px-4 rounded-lg shadow-lg"
          >Divertidas</a
        >
    </main>
  </body>
</html>
