---
import Deck from '../components/Deck';
import Header from '../components/Header.astro';
import { PICANTES } from '../config/constant';
import Layout from '../layouts/Layout.astro';

const cards = PICANTES.map((question, index) => {
  return {
    question: question.question,
    category: 'Picantes',
    color: 'red',
  };
});
---

<Layout>
  <main>
    <Deck client:visible questions={cards} title='Picantes'/>
  </main>
</Layout>