---
import Deck from '../components/Deck';
import Header from '../components/Header.astro';
import { VERDADOMENTIRA } from '../config/constant';
import Layout from '../layouts/Layout.astro';

const cards = VERDADOMENTIRA.map((question, index) => {
  return {
    question: question.question,
    category: 'Verdad o mentira',
    color: 'blue',
  };
});
---


<Layout>
  <main>
    <Deck client:visible questions={cards} title='Verdad o mentira'/>
  </main>
</Layout>
