---
// Componente para mostrar una carta individual
const { question } = Astro.props;
---
<div class="p-6 border rounded-lg shadow-lg bg-white text-center">
  <p class="text-lg font-semibold">{{ question }}</p>
</div>